<div class="page-header">
  <h1>
    Trips
    <a href="/trips/new" class="btn btn-lg btn-success">New Trip</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Location</th>
        <th>User</th>
        <th>Dates</th>
        <th>Actions</th>
      </tr>

      <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.location %></td>
        <td><%= trip.user.username %></td>
        <td><%= trip.dates %></td>
        <td>
          <a href="/trips/<%= trip.id %>" class="btn btn-primary">Show</a>
          <a href="/trips/<%= trip.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_trip/<%= trip.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @trips, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
