<div class="page-header">
  <h3>Trip #<%= @trip.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Location</dt>
      <dd><%= @trip.location %></dd>

      <dt>User</dt>
      <dd>
        <% if @trip.user.present? %>
          <a href="/users/<%= @trip.user_id %>">
            <%= @trip.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>Dates</dt>
      <dd><%= @trip.dates %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/trips" class="btn btn-primary">
        Back
      </a>
      <a href="/trips/<%= @trip.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_trip/<%= @trip.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
