<div class="page-header">
  <h3>Trip #<%= @trip.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Location</dt>
      <dd><%= @trip.location %></dd>

      <dt>User</dt>
      <dd>
        <% if @trip.user.present? %>
          <a href="/users/<%= @trip.user_id %>">
            <%= @trip.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>Dates</dt>
      <dd><%= @trip.dates %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/trips" class="btn btn-primary">
        Back
      </a>
      <a href="/trips/<%= @trip.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_trip/<%= @trip.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Trip has many items -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Items
      </li>

      <% @trip.items.each do |item| %>
        <li class="list-group-item">
          <a href="/items/<%= item.id %>">
            <%= item.trip_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/items/<%= item.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/items/<%= item.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_item/<%= item.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_item" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for trip_id -->
      <input type="hidden" name="trip_id" value="<%= @trip.id %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Item
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
