<!-- Validation failure messages -->
<% if @item.errors.any? %>
  <% @item.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Item #<%= @item.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_item/<%= @item.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for checklist_id -->
      <div class="form-group">
        <label for="checklist_id" class="control-label">
          Checklist
        </label>

        <%= select_tag(:checklist_id, options_from_collection_for_select(Checklist.all, :id, :created_at, @item.checklist_id), :class => "form-control") %>
      </div>

      <!-- Label and input for item_name -->
      <div class="form-group">
        <label for="item_name" class="control-label">
          Item name
        </label>

        <input type="text" id="item_name" name="item_name" placeholder="Item name" class="form-control" value="<%= @item.item_name %>">
      </div>

      <button class="btn btn-warning">
        Update Item
      </button>
      or
      <a href="/items/<%= @item.id %>">Cancel</a>
    </form>
  </div>
</div>
