<div class="page-header">
  <h3>Checklist #<%= @checklist.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Trip</dt>
      <dd><%= @checklist.trip_id %></dd>

      <dt>Name</dt>
      <dd><%= @checklist.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/checklists" class="btn btn-primary">
        Back
      </a>
      <a href="/checklists/<%= @checklist.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_checklist/<%= @checklist.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Checklist has many items -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Items
      </li>

      <% @checklist.items.each do |item| %>
        <li class="list-group-item">
          <a href="/items/<%= item.id %>">
            <%= item.checklist_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/items/<%= item.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/items/<%= item.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_item/<%= item.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_item" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for checklist_id -->
      <input type="hidden" name="checklist_id" value="<%= @checklist.id %>">

      <!-- Label and input for item_name -->
      <div class="form-group">
        <label for="item_name" class="control-label">
          Item name
        </label>

        <input type="text" id="item_name" name="item_name" placeholder="Item name" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Item
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
