<div class="page-header">
  <h3>Checklist #<%= @checklist.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Trip</dt>
      <dd><%= @checklist.trip_id %></dd>

      <dt>Name</dt>
      <dd><%= @checklist.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/checklists" class="btn btn-primary">
        Back
      </a>
      <a href="/checklists/<%= @checklist.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_checklist/<%= @checklist.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
